<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script src="" th:src="@{js/action.js}"></script>
</head>

<body>
<button type="button" onclick="viewCustomer()">View Records</button>
<div class="form-container">

    <h1>Add Customer</h1>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br />

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required><br />

    <label for="debt">Debt:</label>
    <input type="number" step="0.01" id="debt" name="debt" required><br />

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br />

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" required><br />

    <button type="button" onclick="insertCustomer()">Submit</button>

    <br><br><br><br><br><br><br>

    <h1>Search by id</h1>
    <label for="iD">ID:</label>
    <input type="text" id="iD" name="iD" required><br/>
    <button type="button" onclick="searchByID()">Search</button>

    <br><br><br><br><br><br><br>

    <h1>Update Customer</h1>
    <label for="customerIdInput">Customer ID:</label>
    <input type="text" id="customerIdInput" name="customerId" required><br />

    <label for="nameInput">Name:</label>
    <input type="text" id="nameInput" name="name" required><br />

    <label for="surnameInput">Surname:</label>
    <input type="text" id="surnameInput" name="surname" required><br />

    <label for="debtInput">Debt:</label>
    <input type="number" step="0.01" id="debtInput" name="debt" required><br />

    <label for="emailInput">Email:</label>
    <input type="text" id="emailInput" name="emailInput" required><br />

    <label for="phoneInput">Phone:</label>
    <input type="text" id="phoneInput" name="phoneInput" required><br />

    <button type="button" onclick="updateCustomer()">Update</button>

    <div id="resultDiv"></div>

    <br><br><br><br><br><br><br>

    <h1>Delete by DELETE method</h1>
    <label for="idDelete">ID:</label>
    <input type="text" id="idDelete" name="idDelete" required><br/>
    <button type="button" onclick="deleteById()">Delete</button>

    <br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <h1>Add Customer By Post</h1>
    <label for="nameP">Name:</label>
    <input type="text" id="nameP" name="nameP" required><br />

    <label for="surnameP">Surname:</label>
    <input type="text" id="surnameP" name="surnameP" required><br />

    <label for="debtP">Debt:</label>
    <input type="number" step="0.01" id="debtP" name="debtP" required><br />

    <label for="emailP">Email:</label>
    <input type="text" id="emailP" name="emailP" required><br />

    <label for="phoneP">Phone:</label>
    <input type="text" id="phoneP" name="phoneP" required><br />

    <button type="button" onclick="postCustomer()">Submit</button>

    <br><br><br><br><br><br><br>

    <h1>Update Customer By Post</h1>
    <label for="customerIdPut">Id:</label>
    <input type="text" id="customerIdPut" name="customerIdPut" required><br />

    <label for="namePU">Name:</label>
    <input type="text" id="namePU" name="namePU" required><br />

    <label for="surnamePU">Surname:</label>
    <input type="text" id="surnamePU" name="surnamePU" required><br />

    <label for="debtPU">Debt:</label>
    <input type="number" step="0.01" id="debtPU" name="debtPU" required><br />

    <label for="emailPU">Email:</label>
    <input type="text" id="emailPU" name="emailPU" required><br />

    <label for="phoneP">Phone:</label>
    <input type="text" id="phonePU" name="phonePU" required><br />

    <button type="button" onclick="PutCustomer()">Submit</button>

    <br><br><br><br><br><br><br>

    <h1>Delete by DELETE method</h1>
    <label for="deleteID">ID:</label>
    <input type="text" id="deleteID" name="deleteID" required><br/>
    <button type="button" onclick="deleteCustomer()">Search</button>

    <br><br><br><br><br><br><br>

</div>
</body>

</html>